In [1]:
import hopsworks
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import seaborn as sns
from matplotlib import pyplot
from hsml.schema import Schema
from hsml.model_schema import ModelSchema
import joblib
import os

In [4]:
# You have to set the environment variable 'HOPSWORKS_API_KEY' for login to succeed
project = hopsworks.login()
fs = project.get_feature_store()

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

DeprecationWarning: ssl.PROTOCOL_TLS is deprecated

Multiple projects found.

	 (1) SMDL_A01
	 (2) kompot

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/194711
Connected. Call `.close()` to terminate connection gracefully.

In [5]:
# The feature view is the input set of features for your model. The features can come from different feature groups.    
# You can select features from different feature groups and join them together to create a feature view
buoy_swells_huntington_fg = fs.get_feature_group(name="buoy_swells_huntington", version=1)
query = buoy_swells_huntington_fg.select_all()
df = query.read()
df['hits_at'] = df['hits_at'].dt.strftime('%Y-%m-%d %H')
buoy_swells_sorted = df.sort_values(by='hits_at', ascending=False)
buoy_swells_sorted

Finished: Reading data from Hopsworks, using ArrowFlight (1.76s)

                   pred_dtime height period direction        hits_at  beach_id
597 2024-01-04 06:00:00+00:00   0.28   12.6        91  2024-01-14 19         1
591 2024-01-04 06:00:00+00:00   0.16   14.3        16  2024-01-14 19         1
589 2024-01-04 06:00:00+00:00   0.29   12.7        91  2024-01-14 18         1
585 2024-01-04 06:00:00+00:00   0.26   12.8        93  2024-01-14 17         1
588 2024-01-04 06:00:00+00:00   0.25   12.7        93  2024-01-14 17         1
..                        ...    ...    ...       ...            ...       ...
25  2023-12-29 00:00:00+00:00   1.45   17.3        89  2023-12-29 03         1
86  2023-12-29 00:00:00+00:00   1.46   17.4        89  2023-12-29 02         1
284 2023-12-29 00:00:00+00:00   1.46   17.6        89  2023-12-29 01         1
365 2023-12-29 00:00:00+00:00   1.45   17.7        89  2023-12-29 01         1
141 2023-12-29 00:00:00+00:00   1.43   17.9        89  2023-12-29 00         1

[805 rows x 6 columns]

In [6]:
beach_swells_huntington_fg = fs.get_feature_group(name="beach_swells_huntington", version=1)
query2 = beach_swells_huntington_fg.select_all()
df2 = query2.read()
df2['datetime'] = df2['datetime'].dt.strftime('%Y-%m-%d %H')
beach_swells_sorted = df2.sort_values(by='datetime', ascending=False)
beach_swells_sorted

Finished: Reading data from Hopsworks, using ArrowFlight (1.22s)

         quality       datetime  year  month  day  hour  minute
33          Fair  2024-01-04 12  2024      1    4    12      30
32          Fair  2024-01-04 08  2024      1    4     8       0
31  Fair To Good  2024-01-04 07  2024      1    4     7       0
30  Fair To Good  2024-01-04 06  2024      1    4     6       0
29          Poor  2024-01-03 12  2024      1    3    12      30
28          Poor  2024-01-03 08  2024      1    3     8       0
1           Fair  2024-01-02 12  2024      1    2    12      30
25  Poor To Fair  2024-01-02 08  2024      1    2     8       0
10          Fair  2024-01-01 12  2024      1    1    12      30
13          Fair  2024-01-01 08  2024      1    1     8       0
21          Fair  2023-12-31 12  2023     12   31    12      30
24          Fair  2023-12-31 08  2023     12   31     8       0
12          Poor  2023-12-30 12  2023     12   30    12      30
11  Poor To Fair  2023-12-30 08  2023     12   30     8       0
7   Poor To Fair  2023-12-29 12  2023     12   29    12      30
26          Poor  2023-12-29 08  2023     12   29     8       0
17  Poor To Fair  2023-12-28 12  2023     12   28    12      30
9           Fair  2023-12-28 08  2023     12   28     8       0
6           Fair  2023-12-27 12  2023     12   27    12      30
22          Fair  2023-12-27 08  2023     12   27     8       0
23          Fair  2023-12-26 12  2023     12   26    12      30
27          Fair  2023-12-26 08  2023     12   26     8       0
3   Poor To Fair  2023-12-25 12  2023     12   25    12      30
8           Fair  2023-12-25 08  2023     12   25     8       0
14          Fair  2023-12-24 12  2023     12   24    12      30
2           Fair  2023-12-24 08  2023     12   24     8       0
0   Poor To Fair  2023-12-23 12  2023     12   23    12      30
20  Poor To Fair  2023-12-23 08  2023     12   23     8       0
19  Poor To Fair  2023-12-22 12  2023     12   22    12      30
4           Poor  2023-12-22 08  2023     12   22     8       0
15          Poor  2023-12-22 07  2023     12   22     7       0
5   Poor To Fair  2023-12-21 12  2023     12   21    12      30
16  Poor To Fair  2023-12-20 12  2023     12   20    12      30
18          Fair  2023-12-19 12  2023     12   19    12      30

In [7]:
merged_df = pd.merge(buoy_swells_sorted, beach_swells_sorted, left_on='hits_at', right_on='datetime', how='inner')
merged_df = merged_df.drop(["pred_dtime",'datetime'],axis=1)
merged_df

,height,period,direction,hits_at,beach_id,quality,year,month,day,hour,minute
0,1.22,7.5,87,2024-01-04 12,1,Fair,2024,1,4,12,30
1,0.68,8.2,89,2024-01-04 12,1,Fair,2024,1,4,12,30
2,0.15,13.1,12,2024-01-04 12,1,Fair,2024,1,4,12,30
3,1.23,7.4,87,2024-01-04 08,1,Fair,2024,1,4,8,0
4,1.19,7.4,88,2024-01-04 08,1,Fair,2024,1,4,8,0
5,1.12,7.3,88,2024-01-04 08,1,Fair,2024,1,4,8,0
6,0.16,13.3,13,2024-01-04 07,1,Fair To Good,2024,1,4,7,0
7,0.16,13.2,13,2024-01-04 07,1,Fair To Good,2024,1,4,7,0
8,0.17,13.2,14,2024-01-04 07,1,Fair To Good,2024,1,4,7,0
9,0.17,13.3,13,2024-01-04 06,1,Fair To Good,2024,1,4,6,0
10,0.17,13.3,12,2024-01-04 06,1,Fair To Good,2024,1,4,6,0
11,1.64,5.6,94,2024-01-03 12,1,Poor,2024,1,3,12,30
12,0.35,4.0,82,2024-01-03 08,1,Poor,2024,1,3,8,0
13,0.56,11.3,80,2024-01-02 12,1,Fair,2024,1,2,12,30
14,0.19,12.7,13,2024-01-02 08,1,Poor To Fair,2024,1,2,8,0
15,0.20,13.5,14,2024-01-01 12,1,Fair,2024,1,1,12,30
16,0.21,14.1,13,2024-01-01 08,1,Fair,2024,1,1,8,0
17,0.20,14.1,11,2023-12-31 12,1,Fair,2023,12,31,12,30
18,0.20,14.6,10,2023-12-31 08,1,Fair,2023,12,31,8,0
19,0.19,15.5,11,2023-12-30 12,1,Poor,2023,12,30,12,30
20,0.18,16.0,13,2023-12-30 08,1,Poor To Fair,2023,12,30,8,0
21,1.01,15.6,88,2023-12-29 12,1,Poor To Fair,2023,12,29,12,30
22,1.18,16.1,89,2023-12-29 08,1,Poor,2023,12,29,8,0

In [10]:
# Save the merged DataFrame as a new Feature Group
merged_fg = fs.get_or_create_feature_group(name="merged_swells_huntington",
                version=2,
                primary_key=['year','month','day','hour','minute'],
                description="Merged swell from buoy and huntington website",
                online_enabled=True,
                statistics_config={"enabled": True, "histograms": True, "correlations": True},
                )
merged_fg.insert(merged_df)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/194711/fs/194630/fg/386410

Uploading Dataframe: 0.00% |          | Rows 0/23 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: merged_swells_huntington_2_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/194711/jobs/named/merged_swells_huntington_2_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x28b267af0>, None)

In [15]:
# The feature view is the input set of features for your model. The features can come from different feature groups.    
# You can select features from different feature groups and join them together to create a feature view
merged_fg = fs.get_feature_group(name="merged_swells_huntington", version=2)
query = merged_fg.select(['height','period','direction','quality'])
feature_view = fs.get_or_create_feature_view(name="merged_swells_huntington",
                                  version=3,
                                  description="Feature view combining the buoy swells and the beach swells",
                                  labels=["quality"],
                                  query=query)

Feature view created successfully, explore it at
https://c.app.hopsworks.ai:443/p/194711/fs/194630/fv/merged_swells_huntington/version/3